/* HEADER */

#header {
  grid-area: header;
  background: var(--color-primary);
  border-bottom: 30px solid var(--color-accent);
}

.header__inner {
  display: flex;
  align-items: center;
  padding: 2rem 0;
}

.header__avatar {
  flex: 1;
  text-align: end;
}

.header__avatar_img {
  width: 210px;
  height: 200px;
  border: 2px solid var(--color-accent);
  border-radius: 50%;
  margin-right: 5rem;
}

.header__info {
  flex: 2;
}

.info-title {
  font-family: var(--ff-secondary);
  font-size: 4.8rem;
  line-height: 1.2;
  color: var(--color-accent);
  margin-bottom: 2rem;
  text-shadow: 0 0 5px var(--color-primary);
}

.info-subtitle {
  font-family: var(--ff-primary);
  font-size: 2.4rem;
  line-height: 1.2;
  color: var(--color-accent);
  font-weight: 400;
  letter-spacing: 1px;
  display: flex;
  align-items: center;
  gap: 1rem;
}

/* ASIDE */
.aside {
  grid-area: aside;
  /* border-right: 1px solid var(--color-accent); */
  background: rgba(0, 0, 0, 0.03);
}

.aside__inner {
  padding: 2rem 3rem;
}

.aside-contacts {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-bottom: 2.5rem;
}

.contact-item {
  display: flex;
  align-items: center;
  gap: 3rem;
  font-family: var(--ff-primary);
  font-size: 1.4rem;
  line-height: 1.2;
}

.contact-info {
  display: flex;
  flex-direction: column;
}

/* Education */

.aside-education {
  margin-bottom: 2.5rem;
}

.education-item {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.education-item span {
  font-size: 1.4rem;
  line-height: 1.2;
}

/* Tech skills */

.aside-tech-skills {
  margin-bottom: 2.5rem;
}

.skills-list {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.tech-skills-item {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.tech-skills-bar {
  height: 10px;
  background: var(--color-primary);
}

.tech-skills-bar > div {
  height: 10px;
  background: var(--color-accent);
}

.html-bar {
  width: 90%;
}

.js-bar {
  width: 85%;
}

.react-bar {
  width: 80%;
}

.git-bar {
  width: 75%;
}

.sass-bar {
  width: 85%;
}

.ui-bar {
  width: 75%;
}

/* Soft skills */

.aside-soft-skills {
  margin-bottom: 2.5rem;
}

.soft-skills-list {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  list-style-type: disc;
}

.soft-skills-list > li {
  margin-left: 1.5rem;
}

/* Languages */

.aside-languages {
  margin-bottom: 2.5rem;
}

.languages-list {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.languages-list > li {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* Socials */

.aside-socials {
  margin-bottom: 2.5rem;
}

.social-list {
  display: flex;
  gap: 2rem;
}

.social-list a img {
  transition: all 0.3s ease;
}

.social-list a img:hover {
  transform: scale(1.1);
}

/* Hobbies */

.aside-hobbies {
  margin-bottom: 2.5rem;
}

.hobbies-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.hobbies-list img {
  transition: all 0.3s ease;
  width: 60px;
  height: 60px;
}

/* MAIN */
.main {
  grid-area: main;
}

.main p {
  line-height: 2.4rem;
}

.main__inner {
  padding: 2rem 3rem;
  display: flex;
  flex-direction: column;
  gap: 4rem;
}

/* Experience */

.experience-list {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.experience-item span {
  display: inline-block;
  margin-bottom: 1rem;
  opacity: 0.7;
}

.actions-list {
  list-style-type: square;
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-left: 4rem;
}

/* FOOTER */
.footer {
  grid-area: footer;
  padding: 3rem 8rem;
  display: flex;
  justify-content: end;
  border-bottom: 10px solid var(--color-accent);
  background: var(--color-primary);
}

.signature {
  transform: rotate(-13deg);
  width: 350px;
}
